@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
/* globle selectore */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    -webkit-tap-highlight-color: transparent;
}
html{
    scroll-behavior: smooth;
}

:root {
    --main-color: rgb(187, 243, 255);
    --white: #fff;
    --black: #000;
    --color-1: rgb(252, 6, 88);
    --color-2: rgb(252, 195, 6);
    --color-3: rgb(15, 255, 211);
    --black-800: rgba(0, 0, 0, .8);
    --black60: rgba(0, 0, 0, .6);
    --white500: rgba(255, 255, 255, .5);
    --white200: rgba(255, 255, 255, .2);
    --light--white: rgb(86, 87, 88);
    --light--white2: rgba(255, 255, 255, .6);
    --color:gray;
}

body.active__mode {
    --main-color: rgb(5, 176, 214);
    --white: #000;
    --black: #fff; 
    --black-800: rgba(219, 218, 218, 0.8);
    --black60: rgba(255,255,255, .6);
    --white500: rgba(0, 0, 0, .5);
    --white200: rgba(0,0,0,.2);
    --light--white: rgb(255, 255, 255);
    --light--white2: rgba(0,0,0,.6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--white);
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
}

.header {
    background: var(--black);
    padding: 30px 0 10px;
}

.btn {
    padding: 10px 20px;
    color: var(--black);
    background-color: var(--color-3);
    border-radius: 20px;
    transition: .5s;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-1:hover {
    background-color: transparent;
    color: var(--white);
    outline: 1px solid var(--color-3);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.padding-top {
    padding-top: 80px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.title h1 {
    font-size: 25px;
    text-transform: capitalize;
}

.title h1 span {
    position: relative;
}

.title h1 span::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: skewY(-3deg);
}
/* scroll bar  */
::-webkit-scrollbar{
    width: 15px;
    background-color:var(--black);
}
::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: var(--white200);
}
/* scroll to top  */
.scroll__top{
    position: fixed;
    bottom: 30px;
    right: 20px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--main-color);
    text-align: center;
    line-height: 30px;
    box-shadow: 4px 4px 10px var(--white200);
    z-index: 1000;
    transform: translateY(20px);
    opacity: 0;
    transition: .4s;
}
.scroll__top.active{
    transform: translateY(0px);
    opacity: 1;
}
.scroll__top i{
    font-size: 15px;
    color: var(--black);
}

/* header section start  */
.mode i {
    color: var(--white);
}
.header {
    transition: .5s ease;
}

.header.active {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0;
    z-index: 99999;
    box-shadow: 5px 5px 15px var(--white200);
    backdrop-filter: blur(15px);
    background: transparent;
    padding: 15px 0;
}

.header .logo {
    color: var(--white);
    font-size: 22px;
}

.header .nav-bar a {
    font-size: 16px;
    color: var(--white);
    padding: 10px 20px;
    letter-spacing: 1px;
    transition: .4s ease;
    text-transform: capitalize;
    font-weight: 500;
}

.header .nav-bar a:hover {
    color: var(--main-color);
}


.toggler {
    display: none;
}

/* home-section start  */
.home-section {
    background: var(--black);
    min-height: 88vh;
    padding: 160px 0 0;
}

.home-section .text-box h1 {
    font-size: 35px;
    font-weight: 800;
    color: var(--color-3);
}

.home-section .text-box h1 span {
    color: var(--color-1);
    position: relative;
    display: inline-block;
}

.home-section .text-box h1 span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-1);
    transform: skewY(-3deg);
}

.home-section .text-box p {
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 10px 0;
    line-height: 25px;
    color: var(--white500);
}

.home-section .img-box .inner-img {
    box-shadow: 4px 4px 10px var(--white500),
    -4px -4px 10px var(--white500);
    max-width: 350px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: relative;
    animation: zoome_in_out 5s linear infinite;
}

@keyframes zoome_in_out {

    0%,
    100% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

}

.home-section .inner-img .courses {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* animation: anim 10s linear infinite; */
}

@keyframes anim {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.home-section .inner-img .courses .courses-items {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-shadow: 2px 2px 5px var(--black-800);
}

.home-section .inner-img .courses .courses-items:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-3);
}

.home-section .inner-img .courses .courses-items:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: var(--color-1);
}

.home-section .inner-img .courses .courses-items:nth-child(3) {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background-color: var(--color-2);
}

.home-section .inner-img .courses .courses-items:nth-child(4) {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    background-color: var(--black);
}

.home-section .img-box img {
    width: 100%;
    display: block;
    border-radius: 50%;
}

/* why us section  */
.why-us-section {
    background-color: var(--black);
}

.why-us-section .why-us-items {
    min-width: 250px;
    flex: 1 1 200px;
    margin: 10px;
    padding: 25px;
    background-color: var(--white200);
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 4px var(--white200);
}

.why-us-section .why-us-items::before,
.why-us-section .why-us-items::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light--white);
    z-index: -1;
    transition: .5s;
}

.why-us-section .why-us-items:hover::before {
    transform: scale(1, 0);
}

.why-us-section .why-us-items:hover::after {
    transform: scale(0, 1);
}

.why-us-section .why-us-items:nth-child(1) {
    background-color: var(--color-1);
}

.why-us-section .why-us-items:nth-child(2) {
    background-color: var(--color-2);
    color: var(--black);
}

.why-us-section .why-us-items:nth-child(3) {
    background-color: var(--color-3);
}

.why-us-section .why-us-items i {
    color: var(--white);
    font-size: 25px;
    margin: 10px 0;
    color: var(--color-2);
    transition: .4s;
}

.why-us-section .why-us-items:hover i,
.why-us-section .why-us-items:hover p,
.why-us-section .why-us-items:hover h2 {
    color: var(--black);
}

.why-us-section .why-us-items h2 {
    font-size: 20px;
    margin: 10px 0;
    text-transform: capitalize;
    letter-spacing: 1px; 
}

.why-us-section .why-us-items p {
    font-size: 14px;
    color: var(--light--white2);
    transition: .4s;
}

/* courses-section  */
.courses-section {
    background-color: var(--black);
}

.courses-section .courses-items {
    max-width: 500px;
    flex: 1 1 250px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.courses-section .courses-items:hover .imgBx {
    transform: scale(.9);
}

.courses-section .courses-items .imgBx {
    border-radius: 10px;
    position: relative;
    width: 100%;
    transition: .5s;
    overflow: hidden;
}

.courses-section .courses-items .imgBx img {
    display: block;
}

.courses-section .courses-items .imgBx .price {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--black60);
    color: var(--white);
}

.courses-items .course-info .up {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.courses-items .course-info .up i {
    color: var(--color-2);
    font-size: 12px;
}

.courses-items .course-info .up h4 {
    font-size: 16px;
    letter-spacing: 1px;
}

.courses-items .course-info h2 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}

.fun-fact {
    background-color: var(--black);
}

.fun-fact .left {
    max-width: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 30px;
}

.right {
    display: flex;
    flex-wrap: wrap;
}

.right div {
    flex: 1 1 200px;
    padding: 30px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

.right div:nth-child(1) {
    background-color: var(--color-1);
}

.right div:nth-child(2) {
    background-color: var(--color-2);
}

.right div:nth-child(3) {
    background-color: var(--color-3);
}

.right div:nth-child(4) {
    background-color: var(--color-1);
}

.right div p {
    margin-top: 10px;
    text-align: center;
}

.testemonial-section {
    background-color: var(--black);
}

.testemonial-section .testemonial-items {
    flex: 1 1 500px;
    max-width: 700px;
    margin: 10px;
    transition: .4s;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.testemonial-items:hover {
    box-shadow: 5px 5px 10px var(--white200),
    -5px -5px 10px var(--white200);
}

.testemonial-section .imgBx {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 0;
    transition: .5s;
}

.testemonial-items:hover .imgBx {
    transform: translateX(30px) rotate(30deg);
}

.testemonial-section p {
    margin: 10px 0;
    font-size: 12px;
    color: var(--light--white2);
}

.testemonial-section p i {
    font-size: 12px;
    margin: 0 10px;
}

.testemonial-section h3 {
    font-size: 16px;
    color: var(--main-color);
}

.testemonial-section h3~p {
    font-size: 14px;
    color: var(--white);
}

.contact-section {
    background-color: var(--black);
}

.contact-section .img-box {
    max-width: 700px;
}

.contact-section .img-box img {
    border-radius: 20px;
    overflow: hidden;
}

.contact-section .img-box,
.contact-section .form-part {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    padding: 20px;
}

.contact-section .form-part form {
    width: 75%;
    padding: 10px 40px;
    border-radius: 10px;
    background: var(--white200);
}

input,
textarea {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin: 10px 0;
    padding: 0 20px;
    background: var(--black);
    outline: none;
    border: none;
    color: var(--white);
}

.form-part form .input-items textarea {
    height: 100px;
    padding-top: 10px;
    resize: none;
}

.form-part form .input-items .btn {
    width: 100%;
    text-align: center;
}

.footer-section {
    background-color: var(--black-800);
    padding-bottom: 30px;
}

.fix {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.footer-items {
    padding: 10px;
}

.footer-items .footer-logo,
.footer-items h2 {
    font-size: 20px;
    color: var(--white);
    margin: 5px 0 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-items p {
    font-size: 14px;
    margin: 10px 0;
    color: var(--light--white2);
}

.social-icons i {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 15px;
    margin-top: 10px;
}

.footer-items ul li a {
    color: var(--white);
    margin-top: 10px;
}

.footer-items i {
    margin-right: 10px;
    cursor: pointer;
}

.footer-items .btn {
    width: 100%;
}

@media (max-width:1020px) {
    .contact-section .form-part form {
        padding: 10px;
    }

    .contact-section .img-box,
    .contact-section .form-part {
        padding: 5px;
    }
}

@media (max-width:1260px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width:900px) {
    .container {
        max-width: 90%;
    }

    .header .nav-bar {
        display: block;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background:var(--black);
        z-index: 999;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s;
        box-shadow: 5px 5px 10px var(--white200);
    }

    .mode {
        font-size: 20px;
        display: block;
        position: absolute;
        right: 30px;
        cursor: pointer;
    }

    .header .nav-bar.active {
        display: initial;
        max-height: 400px;
    }

    .header .nav-bar a {
        display: block;
        border-bottom: 2px solid var(--white200);
        transition: .4s; 
    }

    .header .nav-bar a:hover {
        background-color: var(--black60);
    }

    .toggler {
        display: initial;
        color: var(--white);
        font-size: 20px;
        cursor: pointer;
    }
}

@media (max-width:850px) {
    .home-section .img-box {
        margin: 40px 0;
    }

    .home-section .row {
        justify-content: center;
    }

    .contact-section .form-part form {
        width: 90%;
    }

    .contact-section .img-box,
    .contact-section .form-part {
        width: 100%;
    }
}

@media (max-width:500px) {
    .contact-section .form-part form {
        width: 100%;
    }
    .home-section .inner-img .courses .courses-items {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }
    .img-box{
        width: 265px;
        height: 265px;
    }

}